@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We are going to have an exciting party</h1>
    <br />
    You all are invited to the party

    <a asp-action="InvitationForm">Please Fill up the form now</a>
   
</div>
