@model PartyInvites.Models.GuestRespond
<div class="invitation-form">
    <form asp-action="InvitationForm" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name">What's your name?</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Email">Please provide your email address</label>
            <input asp-for="Email" type="email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Phone">Please provide your phone number</label>
            <input asp-for="Phone" class="form-control" required />
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="willAttend">Will you attend the party?</label>
            <select asp-for="willAttend" class="form-control" required>
                <option value="">Choose an option</option>
                <option value="true">Yes, I will be there</option>
                <option value="false">No, I can't attend the party</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>


            @section Scripts{
    @{ <partial name="_ValidationScriptsPartial"/>}
        
            }